@model NoSQL_Proyecto_Saule.Models.Producto

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.NombreProducto)</dt>

        <dd>@Html.DisplayFor(model => model.NombreProducto)</dd>

        <dt>@Html.DisplayNameFor(model => model.DescripcionProducto)</dt>

        <dd>@Html.DisplayFor(model => model.DescripcionProducto)</dd>

        <dt>@Html.DisplayNameFor(model => model.Precio)</dt>

        <dd>@Html.DisplayFor(model => model.Precio)</dd>

        <dt>@Html.DisplayNameFor(model => model.StockProducto)</dt>

        <dd>@Html.DisplayFor(model => model.StockProducto)</dd>

        <dt>@Html.DisplayNameFor(model => model.IdGrupo)</dt>

        <dd>@Html.DisplayFor(model => model.IdGrupo)</dd>

        <dt>@Html.DisplayNameFor(model => model.IdMarca)</dt>

        <dd>@Html.DisplayFor(model => model.IdMarca)</dd>

        <dt>@Html.DisplayNameFor(model => model.IdProveedor)</dt>

        <dd>@Html.DisplayFor(model => model.IdProveedor)</dd>
    </dl>

    @using (Html.BeginForm("DeleteConfirmed", "Productos", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
