@model NoSQL_Proyecto_Saule.Models.Producto

@{
    ViewBag.Title = "Eliminar Producto";
}

<h2 style="font-family: Arial, Helvetica, sans-serif">Eliminar Producto</h2>

<div>
    <hr />

    <div class="form-horizontal">
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.NombreProducto)</dt>
            <dd>@Html.DisplayFor(model => model.NombreProducto)</dd>

            <dt>@Html.DisplayNameFor(model => model.DescripcionProducto)</dt>
            <dd>@Html.DisplayFor(model => model.DescripcionProducto)</dd>

            <dt>@Html.DisplayNameFor(model => model.Precio)</dt>
            <dd>@Html.DisplayFor(model => model.Precio)</dd>

            <dt>@Html.DisplayNameFor(model => model.StockProducto)</dt>
            <dd>@Html.DisplayFor(model => model.StockProducto)</dd>

            <dt>@Html.DisplayNameFor(model => model.IdGrupo)</dt>
            <dd>@Html.DisplayFor(model => model.IdGrupo)</dd>

            <dt>@Html.DisplayNameFor(model => model.IdMarca)</dt>
            <dd>@Html.DisplayFor(model => model.IdMarca)</dd>

            <dt>@Html.DisplayNameFor(model => model.IdProveedor)</dt>
            <dd>@Html.DisplayFor(model => model.IdProveedor)</dd>
        </dl>

        @using (Html.BeginForm("DeleteConfirmed", "Productos", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)

            <!-- Botones de Acción -->
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-danger no-border">Eliminar Producto</button>
                    <a href="@Url.Action("Index", "Productos")" class="btn btn-dark no-border" style="width: 125px">Cancelar</a>
                </div>
            </div>
        }
    </div>
</div>

<style>
    .no-border {
        border-radius: 0 !important;
    }
</style>
