@model IEnumerable<NoSQL_Proyecto_Saule.Models.Producto>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().NombreProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().DescripcionProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().StockProducto)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescripcionProducto)
                </td>
                <td>
                    @string.Format("{0:C}", item.Precio) 
                <td>
                    @Html.DisplayFor(modelItem => item.StockProducto)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
