<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <br />
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-collapse bg-white">
        <div class="container">
            @Html.ActionLink("Farmacia Säule", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", style = "font-family: Helvetica; font-size: 48px;" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="font-family: Arial, Helvetica, sans-serif; text-align: center;">
            <a style="color: black; text-decoration: none;" href="https://www.instagram.com/farmaciassaule?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">
                <i class="fa fa-instagram" style="font-size: 24px"></i>
                <span style="font-size: 20px;">farmaciassaule</span>
            </a>

            <span>&nbsp;&nbsp;-&nbsp;&nbsp;</span>
            <a style="color: black; text-decoration: none;" href="https://www.facebook.com/Farmacias.Saule/">
                <i class="fa fa-facebook-official" style="font-size: 24px"></i>
                <span style="font-size: 20px;">Farmacias Säule</span>
            </a>

            <span>&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</span>
            <i class="fa fa-whatsapp" style="font-size: 24px"></i>
            <span style="font-size: 18px;">4081-1368&nbsp;&nbsp;/&nbsp;&nbsp;8453-7272</span>

            <span>&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</span>
            <i class="fa fa-envelope" style="font-size: 24px"></i>
            <span style="font-size: 20px;">farmaciassaule@gmail.com</span>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
