@model NoSQL_Proyecto_Saule.Models.Facturas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Factura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdCompra)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdVenta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdVenta)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
</p>
