@model IEnumerable<NoSQL_Proyecto_Saule.Models.Compras>

@{
    ViewBag.Title = "Lista de Compras";
}

<h2>Lista de Compras</h2>

<p>
    @Html.ActionLink("Registrar Nueva Compra", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().FechaCompra)
            </th>
            <th>
                Productos
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaCompra)
                </td>
                <td>
                    @if (item.ProductosCompra != null && item.ProductosCompra.Any())
                    {
                        <ul>
                            @foreach (var producto in item.ProductosCompra)
                            {
                                <li>@producto</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <span class="text-muted">No hay productos</span>
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
