@model IEnumerable<NoSQL_Proyecto_Saule.Models.Grupo>

@{
    ViewBag.Title = "Lista de Grupos";
}

<h2>Lista de Grupos</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().nombrGrupo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().descripcionGrupo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().IdCategoria)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombrGrupo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcionGrupo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCategoria)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
