@model NoSQL_Proyecto_Saule.Models.Marca

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Marca</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreMarca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreMarca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imgLogoMarca)
        </dt>

        <dd>
            <img src="@Model.imgLogoMarca" alt="Logo de @Model.nombreMarca" style="max-width: 300px; max-height: 300px;" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estadoMarca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estadoMarca)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
