@model NoSQL_Proyecto_Saule.Models.Empleado

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoUnoEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoUnoEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoDosEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoDosEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalarioEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalarioEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionHorarioEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionHorarioEmpleado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
